body, 
html,
* {
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s; 
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  flex-direction: column; 
}


.btns,
.btns:link,
.btns:visited {
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  border-radius: 1rem;
  background-color: #333;
  width: 15vh;
  margin-bottom: 20px;
  color: white;
}
.btns:hover {
  transform: translateX(-0.3rem);
  box-shadow: 0 1rem 1rem rgb(28, 22, 22);
}

:root {
  --cool-background: rgb(153, 158, 239);
  --cool-header: rgb(76, 88, 225); 
  --cool-font: rgb(44, 52, 141);
  --cool-button:rgb(17, 34, 218);
  
  --dark-background: rgb(53, 43, 43);
  --dark-header: rgb(61, 54, 54);
  --dark-font: rgb(0, 0, 0);
  --dark-button:rgb(44, 23, 23);

  --header: rgb(20, 185, 194);

  --h1: 7rem;
  --h2: 5rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1rem;
}

.warm {
background: var(--dark-background) ;
font: var(--dark-font);

}

.cool {
  background: var(--cool-background) ;
  font: var(--cool-font);

}

.hero {
  background-color: var(--cool-background);
  width: fit-content;
  font-size: var(--h1);
  border-radius: 20px;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
font-size: var(--h5);
}

.box {
  text-align: center;
  flex-direction: row; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  width: 10vw;
  height: auto;
}

.Card {
  border-radius: 1rem;
  border: 3px solid black;
  
}
