/* body, 
html,
* {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  color: black;
  font-size: 25px;
  text-align: center;
} */

body, 
html,
* {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  text-align: center;
}


#btn,
#btn:link,
#btn:visited {
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  border-radius: 1rem;
  background-color: #333;
}
#btn:hover {
  transform: translateX(-0.3rem);
  box-shadow: 0 1rem 1rem rgb(28, 22, 22);
}


:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue); 

  --h1: 7rem;
  --h2: 5rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1rem;
}

.warm {
  --primary:  var(--light-red);
  --secondary: var(--dark-red);
}

.cool {
  --primary:  var(--light-blue);
  --secondary: var(--dark-blue);
}

.hero {
  background-color: var(--primary);
  width: fit-content;
}

.main{
  background-color: var(--secondary);
  height: auto;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
font-size: var(--h5);
}

.Card {
  text-align: center;
  font-size: 12rem;
}